 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.img-thumbnail {
  border-radius: 1rem !important;
  border: 0;
}
.card-body {
  .keypad {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}
.location {
   height: 4rem !important;
 }

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
